<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div class="form-group">
   <%= f.text_field :address, placeholder: "Address of Property", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :units, placeholder: "Number of Units (Studio, 1BR, etc.)", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :price, placeholder: "Rent of Apartments", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_area :description, placeholder: "Description:", class: "form-control" %>
  </div>
   <div class="field form-group">
    <%= f.label "Photo" %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
