<!DOCTYPE html>
<html>
<head>
  <title>G&E Properties</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['AIzaSyB6G1DK3XR8Lh3Xd5FQftI01LhNMrTWY7M'] %>">
</script>
  <%= csrf_meta_tags %>
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "G & E Properties, Inc.", root_path, class:"navbar-brand sanchez" %>
            </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "About", about_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Properties", our_properties_path %>
                    </li>
                    <li class="page-scroll">
                        <%= link_to "Contact", contact_path %>
                    </li>
                </ul>
            </div>
        
    </nav>

<div class="container main-container">
<%= yield %>
</div>

    <footer class="footer">
      <div class="container">
        <div class="text-muted center-it">
            <p><strong>G&E Properties Inc.</strong></p>
            <p> 404-231-1568</p>
        </div>
      </div>
    </footer>

<!-- <div class="container">
    <footer class=:"footer">
        <p> G&E Properties Inc.</p>
    </footer>
 -->
</div>
</body>
</html>
